

.HeaderbarContainer{
    position: fixed;
    top:0px;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #00AE77;
}

.HeaderbarDefault{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0px;
    width: 100%;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #00AE77;
}

.HeaderbarDefault .ant-affix{
    display: flex;
    flex-direction: row;
    position: fixed;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #00AE77;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
    justify-items: center;
}

.HeaderbarDefault div{
    display: flex;
    flex-direction: row;
    
    
    
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.HeaderbarDefault h1{
    font-family: "UTM-BryantLG_B";
    color:white;
    margin:0px;
    font-size: 27px;
    position: absolute;
    left: 10px;
}


.headerBarEmployee div{
    display: flex;
    flex-direction: row;
    
    
    
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.headerBarEmployee h1{
    font-family: "UTM-BryantLG_B";
    color:white;
    margin:0px;
    font-size: 27px;
    position: absolute;
    left: 10px;
}


.headerBarEmployer div{
    display: flex;
    flex-direction: row;
    
    
    
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


.headerBarEmployer h1{
    font-family: "UTM-BryantLG_B";
    color:white;
    margin:0px;
    font-size: 27px;
    position: absolute;
    left: 10px;
}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    min-width: 100px;
    height: 35px;
    min-height: 25px;
  
    background-color:  white;
    border-radius: 8px;

  
    
 
    border-width:0;
    color:'white';
   
    color: #00AE77;
    
    font-family: SegoeUI;
    font-size: 17px;
    margin-right: 10px;

    transition: all ease .5s;
    user-select: none;
}

.login-button:active{
    
    background: white;
    transform: scale(0.5);
  }


  .register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    min-width: 100px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 8px;

  
    
 
    border-width:0;
    color:'white';
   
    color: white;
    
    font-family: SegoeUI;
    font-size: 16px;
  
    transition: all ease .5s;
    user-select: none;
}

.headerBarEmployee>div>span.ant-avatar.ant-dropdown-trigger.ant-avatar-lg{
    padding: 2px;
    background: white;
}

.headerBarEmployer>div>span.ant-avatar.ant-dropdown-trigger.ant-avatar-lg{
    padding: 2px;
    background: white;
}