@import "../../../../Theme.css";

.ant-btn.ant-btn-primary.ant-btn-circle.ant-btn-lg.ant-btn-icon-only{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    position: fixed;
    right: 50px;
    bottom: 40px;
}