.containerName{
    background: #00AE77;
    width: 30%;
    height: 40px;
    font-family: SegoeUI-Bold;
    font-size: 20px;
    color: white;
}
.containerJob{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    border: 2px solid #00AE77;
    padding: 10px;
   
}