:root {
    --primary-color: #00AE77;

  }
.MyHeader{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Button*/
.MyHeader>.ant-btn.ant-btn-primary{
    margin: 10px;
    background: var(--primary-color);
    border-color: var(--primary-color);
}