.MainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}


.Background{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}



.logo{
    
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
  
    width: 30vw;
    min-width: 150px;
    max-width: 300px;
    height: width; 
    min-height: 150px;
    max-height: 300px;
}

.input-group{
    width: 50%;
    max-width: 500px;
    position: relative;
    top:5vh;
   
  

}
.input-group input{
   
    height: 40px;

}

.input-group .input-group-btn button{
    background: #00EDFF;
    color: white;
      
    font-family: SegoeUI;
    font-size: 19px;
}


.logContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:5px;
    width: 100%;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    min-width: 100px;
    height: 35px;
    min-height: 25px;
  
    background-color:  #00EDFF;
    border-radius: 20px;

  
    
 
    border-width:0;
    color:'white';
   
    color: white;
    
    font-family: SegoeUI;
    font-size: 17px;
    margin-right: 10px;

    transition: all ease .5s;
    user-select: none;
}

.login-button:active{
    
    background: white;
    transform: scale(0.5);
  }


  .register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    min-width: 100px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 20px;

  
    
 
    border-width:0;
    color:'white';
   
    color: white;
    
    font-family: SegoeUI;
    font-size: 16px;
  
    transition: all ease .5s;
    user-select: none;
}


.down-button{
    
   
    align-items: center;
    justify-content: center;
    position: absolute;
    top:87%;
    
    width: 5vw;
    min-width: 200px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 20px;

  
    
    
    border-width:0;
    color:'white';
   
    color: white;
    
    
    font-family: SegoeUI;
    font-size: 15px;

}


.filter-button{
    
   
    align-items: center;
    justify-content: center;
    position: relative;
    top:50px;
    
    width: 5vw;
    min-width: 200px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 20px;

  
    
    
    border-width:0;
    color:'white';
   
    color: white;
    
    
      
    font-family: SegoeUI;
    font-size: 15px;

}

.socialLogin{
    margin: 10px;
    width: 40%;
    height: 50%;
    background-size: contain;
    transition: all ease .5s;
    user-select: none;
}
.socialLogin:active{
    
   
    transform: scale(0.7);
  }



.LoginFormContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.commonText{
    margin: 10px;
    font-family: SegoeUI-Bold;
    font-size: 15px;

}

.headerBar{
    position: fixed;
    top:0px;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
    height: 50px;
    background: #00EDFF;
}
.avatar{
    width: 40px;
    height: 40px;
    border:3px solid white;
}

.dropdown {
    display: inline-block;
    
}

.dropdown__content {
    display: none;
    position: absolute;
    right: 0px;
    width:150px;
    background: white;
}

.dropdown--active .dropdown__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.nav-customDropdown li a{
  font-family: SegoeUI-Bold;
  color: #00EDFF;
}