.MainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}
.Background{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}



.logo{
    
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
  
    width: 30vw;
    min-width: 150px;
    max-width: 300px;
    height: width; 
    min-height: 150px;
    max-height: 300px;
}

.input-group{
    width: 50%;
    max-width: 500px;
    position: absolute;
    top:5ovh;
   
  

}
.input-group input{
   
    height: 40px;

}

.input-group .input-group-btn button{
    background: #00EDFF;
    color: white;
      
    font-family: SegoeUI;
    font-size: 19px;
}


.logContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:5px;
    width: 100%;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    min-width: 100px;
    height: 35px;
    min-height: 25px;
  
    background-color:  #00EDFF;
    border-radius: 20px;

  
    
 
    border-width:0;
    color:'white';
   
    color: white;
    
    font-family: SegoeUI;
    font-size: 17px;
  
    transition: all ease .5s;
    user-select: none;
}

.login-button:active{
    
    background: white;
    transform: scale(0.7);
  }


  .register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    min-width: 100px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 20px;

  
    
 
    border-width:0;
    color:'white';
   
    color: white;
    
    font-family: SegoeUI;
    font-size: 16px;
  
    transition: all ease .5s;
    user-select: none;
}


.down-button{
    
   
    align-items: center;
    justify-content: center;
    position: absolute;
    top:90%;
    
    width: 5vw;
    min-width: 200px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 20px;

  
    
    
    border-width:0;
    color:'white';
   
    color: white;
    
    
    font-family: SegoeUI;
    font-size: 15px;

}


.filter-button{
    
   
    align-items: center;
    justify-content: center;
    position: relative;
    top:50px;
    
    width: 5vw;
    min-width: 200px;
    height: 35px;
    min-height: 25px;
  
    background-color:  rgba(0, 238, 255, 0);
    border-radius: 20px;

  
    
    
    border-width:0;
    color:'white';
   
    color: white;
    
    
      
    font-family: SegoeUI;
    font-size: 15px;

}